
src/QuatroEstacoes/.vs/*
src/QuatroEstacoes/QuatroEstacoes/bin/*
src/QuatroEstacoes/QuatroEstacoes/obj/*
src/QuatroEstacoes/QuatroEstacoes/obj/QuatroEstacoes.csproj.nuget.g.props
src/QuatroEstacoes/QuatroEstacoes/obj/QuatroEstacoes.csproj.nuget.dgspec.json
src/QuatroEstacoes/QuatroEstacoes/obj/project.nuget.cache
src/QuatroEstacoes/QuatroEstacoes/obj/project.assets.json
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/staticwebassets.pack.json
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/staticwebassets.development.json
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/staticwebassets.build.json
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/refint/QuatroEstacoes.dll
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/ref/QuatroEstacoes.dll
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.RazorAssemblyInfo.cache
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.pdb
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.genruntimeconfig.cache
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.GeneratedMSBuildEditorConfig.editorconfig
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.dll
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.csproj.FileListAbsolute.txt
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.csproj.CoreCompileInputs.cache
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.csproj.AssemblyReference.cache
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.assets.cache
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.AssemblyInfoInputs.cache
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/QuatroEstacoes.AssemblyInfo.cs
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/project.razor.vs.json
src/QuatroEstacoes/QuatroEstacoes/obj/Debug/net6.0/apphost.exe
src/QuatroEstacoes/QuatroEstacoes/bin/Debug/net6.0/QuatroEstacoes.staticwebassets.runtime.json
src/QuatroEstacoes/QuatroEstacoes/bin/Debug/net6.0/QuatroEstacoes.pdb
src/QuatroEstacoes/QuatroEstacoes/bin/Debug/net6.0/QuatroEstacoes.exe
src/QuatroEstacoes/QuatroEstacoes/bin/Debug/net6.0/QuatroEstacoes.dll
src/QuatroEstacoes/.vs/QuatroEstacoes/v17/.suo
src/QuatroEstacoes/.vs/QuatroEstacoes/FileContentIndex/read.lock
src/QuatroEstacoes/.vs/QuatroEstacoes/FileContentIndex/c602600e-b10e-4e79-a1a3-ef46c8c9c2cd.vsidx
src/QuatroEstacoes/.vs/QuatroEstacoes/FileContentIndex/5562b0fa-d43e-4008-b587-399ab3d93c8a.vsidx
src/QuatroEstacoes/.vs/QuatroEstacoes/FileContentIndex/400a0dfb-41dd-43a6-8e96-0d8a2fce3494.vsidx
src/QuatroEstacoes/.vs/QuatroEstacoes/FileContentIndex/2c39c84f-e62b-4e3a-9d40-c43b343fdb0c.vsidx
